@charset "UTF-*";
@font-face {
    font-family: 'android';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c5ebd6;
    color: #111;
}

header {
    background-image: linear-gradient(to bottom, #0d954a, #044c1b);
    color: white;
    padding: 30px 20px;
    text-align: center;
}

menu {
    background-color: #044c1b;
    color: white;
}

nav {
    text-align: left;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

main {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 0px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    color: #ffffff;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family:'impact';
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.459);
}

h1#titulo {
    font-family: android;
    color: #175030;
    margin-left: 20px;
}

h2 {
    color: #007755;
    background-color: #00cc8841;;
    margin: 5px;
    font-family: android;
    padding-left: 5px;
}

p#header {
    font-size: 14px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.459)
}

a.menu {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 5px;
}

a.menu:hover {
    background-color: #70b878;
    border-radius: 5px;
    color:black;
    transition-duration: 0.5s;
}

p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 15px;
    margin-left: 20px;
    text-indent: 30px;
    font-weight: 600;
    font-size: 14px;
    padding-right: 20px;
}

div#video {
    background-color: #175030;
    margin: auto;
    width: 760px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

iframe {
    display: inline-block;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

img {
    width: 100%;  
}

img#droid {
    max-width: 350px;
}

aside {
    margin: 20px 10px;
    border-radius: 10px;
    text-align: left;
    width: 90%;
    margin: 20px auto;
    justify-content: center;
}

.mais {
    background-color: #b7f6c4;
    border-radius: 10px;
}

h3#mais {
    background-color: #175030;
    color: white;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.quer {
    padding-right: 20px;
}

a#ultimo {
    color: #0c6729;
    text-decoration: none;
    font-weight: bolder;
}

ul {
    list-style-type: "✔";
    list-style-position: inside;
    margin-left: 20px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 40px;
}

li {
  font-size: small;
  font-weight: 600;
}

abbr{
    text-decoration: underline;
}

footer {
    margin: auto;
    background-color: #044c1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

p#footer {
    color: white;
    font-size: smaller;
    font-weight: 400;
}

.ultimo {
    padding-bottom: 30px;
}