body {
    background-color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
button {
    background-color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
